<div class="country-container">
    <img src="{{flag}}" class="flag" alt="{{name}}" />
    <div class="country-deskriptione">
        <h4>{{name}}</h4>
        <ul class "country-info">
            <li>
                <p>Capital: {{capital}}</p>
            </li>
             <li>
                <p>Population: {{population}}</p>
            </li>
             <li>
                <p>Languages: {{#each languages}}{{name}}{{/each}}</p>
            </li>
        </ul>

    </div>
    </div>
